<div class="full-width-container">

  <div class="row">

    <div class="col-xs-4">
      <form>

        <h3 class="mb-4">Search</h3>

        <div class="form-group row">

          <label for="author" class="col-sm-3 col-form-label">Author</label>
          <div class="col-sm-7">
            <input class="form-control" id="author" name="author" [(ngModel)]="authorSearch">
          </div>

        </div>

        <div class="form-group row">

          <label for="title" class="col-sm-3 col-form-label">Title</label>
          <div class="col-sm-7">
            <input class="form-control" id="title" name="title" [(ngModel)]="titleSearch">
          </div>

        </div>

        <div class="form-group row">

          <label for="isbn" class="col-sm-3 col-form-label">ISBN</label>
          <div class="col-sm-7">
            <input class="form-control" id="isbn" name="isbn"  [(ngModel)]="isbnSearch">
          </div>

        </div>

        <div class="form-group row">
          <label for="format" class="col-sm-3 col-form-label">Format</label>
          <div class="col-sm-7">
            <select class="form-control" id="format" name="formatId" [(ngModel)]="formatIdSearch">
                <option *ngFor="let format of formatsFromDb" [value]="format.id" >{{format.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">

          <div class="col">
            <div class="row">

              <label for="page-min" class="col-sm-6 col-form-label">Pages between</label>
              <div class="col-sm-6">
                <input class="form-control" id="page-min" name="min-page" [(ngModel)]="minPageSearch" pattern="[0-9]{1,11}" #minpages="ngModel" > 
                <div [hidden]="minpages.valid || minpages.untouched" class="alert alert-danger">
                    Не валидное поле
                  </div>
              </div>
    
            </div>
          </div>

          <div class="col">
            <div class="row">

              <label  class="col-sm-2 col-form-label text-center" for="page-max">and</label>
              <div class="col-sm-6">
                <input class="form-control" id="page-max" name="max-page" [(ngModel)]="maxPageSearch" pattern="[0-9]{1,11}" #maxpages="ngModel">
                <div [hidden]="maxpages.valid || maxpages.untouched" class="alert alert-danger">
                    Не валидное поле
                  </div>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group row">

          <div class="col">
            <div class="row">

              <label for="price-min" class="col-sm-6 col-form-label">Price between</label>
              <div class="col-sm-6">
                <input class="form-control" id="price-min" name="min-price" [(ngModel)]="minPriceSearch" pattern="[0-9]{1,5}" #minprices="ngModel">
                <div [hidden]="minprices.valid || minprices.untouched" class="alert alert-danger">
                    Не валидное поле
                  </div>
              </div>

            </div>
          </div>

          <div class="col">
            <div class="row">

              <label  class="col-sm-2 col-form-label text-center" for="price-max">and</label>
              <div class="col-sm-6">
                <input class="form-control" id="price-max" name="max-price" [(ngModel)]="maxPriceSearch" pattern="[0-9]{1,5}" #maxprices="ngModel">

                <div [hidden]="maxprices.valid || maxprices.untouched" class="alert alert-danger">
                    Не валидное поле
                  </div>
              </div>

            </div>
          </div>

        </div>
        <button (click)="searching()" class="btn btn-primary mt-4" [disabled]="minpages.invalid || maxpages.invalid || minprices.invalid ||maxprices.invalid ">searching</button>
        
      </form>
    </div>

    <div class="col-xs-8">
      <h3 class="mb-4">List of Matched Books</h3>

          <table class="table">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">author</th>
                  <th scope="col">title</th>
                  <th scope="col">isbn</th>
                  <th scope="col">pages</th>
                  <th scope="col">countryId</th>
                  <th scope="col">cityId</th>
                  <th scope="col">companyId</th>
                  <th scope="col">formatId</th>
                  <th scope="col" style="max-width:200px">description</th>
                  <th scope="col">price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let book of booksFromSearching; let i = index" >
                  <th scope="row">{{book.id}}</th>
                    <td>{{book.author}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.pages}}</td>
                    <td>{{book.countryId}}</td>
                    <td>{{book.cityId}}</td>
                    <td>{{book.companyId}}</td>
                    <td>{{book.formatId}}</td>
                    <td style="max-width:200px">{{book.description}}</td>
                    <td>{{book.price}}</td>
                </tr>
            
              </tbody>
            </table>
     
    </div>

  </div>

</div>
